<head>
    <link rel="stylesheet" href="sidebar.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
</head>
<body>
    <nav id="root">
        logo
    
        <div class="menu">
                <button onclick="loadPage(event, 'home')" class="active" page="home">Incio</button>
                <button onclick="loadPage(event, 'residencias')" page="residencias">Residencias</button>
                <button onclick="loadPage(event, 'residentes')" page="residentes">Residentes</button>
        </div>
    </nav>
</body>
<script src="sidebar.js"></script>
</html>