body{
    background: #f1f1f1;
}

#header {
    height: 3rem;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 5px 5px 4px #eee;
}

.main{
    display: flex;
    width: 100%;
}

.left{
    width: 100%;
}

#sidebar {
    min-width: 13rem;
    position: sticky;
    top: 0;
    height: 99vh;
    box-shadow: 5px 0 4px #eee;
}

#content {
    width: 100%;
    height: calc(100vh - 4rem);
}